<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>Timings</title>
</head>
<body>
<div class="container">
    <h1>Timings</h1>

    <form id="topErrors">
        <div class="form-group">
            <div class="input-group" id="timings">
                <textarea class="form-control" name="timing" style="height: 300px;width:800px"></textarea>
            </div>
        </div>
        <button type="button" class="btn btn-default"  id="show">Show timings</button>
        <button type="button" class="btn btn-default"  id="addTextarea">Add more input</button>
    </form>
</div>
<div id="graphs"></div>
</body>
</html>
